<div class="private_top_bar">

  <div class="private_top_left">
    {{#link-to "mystream"}}
    <img style="width: 50px;"src="/images/home.png"/>
    <div class="top_home_link">Home</div>
    {{/link-to}}
  </div>

  <div class="private_top_middle">
    {{#link-to "auth.login"}}
    <img class="logo_top" src="/images/telegram-logo-small.png"/>
    {{/link-to}}
  </div>

  <div class="private_top_right">
    {{#link-to "user.posts" session.user.id}}
      <img class="user_img" src="/images/john.jpg"/>
      <div class="top_user_name">{{session.user.name}}<br>

      </div>
    {{/link-to}}
  <div>  {{#if session.isAuthenticated}}
    <button class="logout" {{action "logout"}}>logout</button>
        {{/if}}
  </div>
  </div>

</div>
