
<div style="border-bottom: solid #ddd 1px;">
  <div style="position: absolute; padding-top: 10px;">

    <img width="40" src="images/jane.jpg">

  </div>

  <div style="width: 400px; margin-left: 40px; padding-top: 10px;padding-left: 10px; padding-bottom: 10px;">
    <b>{{post.postCreator.name}}</b><br>

    {{post.postContent}}<br><br>
    {{ago post.createdAt}}
    {{#if isAuthor}}
    <ul style="display: inline-block;">
      <li>
        <button class='delete_post' {{action 'deletePost'}}>delete</button>
      </li>
    </ul>
    {{/if}}
  </div>
</div>
