<div class="login_area">
  <div class="left_login">
    <img class="logo" src="/images/telegram-logo.png"/>
    <div class="vertical_bar"></div>
  </div>
  <div class="right_login">
    <img class="postmark" src="/images/postmark.png">
    <div class="signin_area">
      <div class="login_form">
        <span class="get_going">Check your inbox</span><br><br>
        We've sent you a recovery password in your email inbox.
      </div>
    </div>
  </div>
</div>
