<span class="get_going">Get going ...</span><br><br>

{{input type="text" class="input" placeholder="Enter your username ..." value=username}}
<br>
{{input type="password" class="input" placeholder="Enter your password ..." value=password}}
<br><br>
<button class="simple_action" {{action 'authenticate'}}>Login</button>

<span style="float: right;">
{{#link-to "auth.reset"}} Recover Password {{/link-to}}
or {{#link-to "auth.signup"}}Signup{{/link-to}}</span>
