
<div class="login_form">
  <span class="get_going">Reset password</span><br><br>
  <input class="input" type="text" placeholder="Enter your email">
  <br><br>
  <button class="simple_action">Reset password</button>
</div>
