
<div class="login_form">
  <span class="get_going">Reset password</span><br><br>
  {{input type="text" class="input" placeholder="Enter your email ..." value=email}}
  <br><br>
  <button class="simple_action" {{action 'passwordReset'}}>Reset password</button>
</div>
