<div class="login_area">
  <div class="left_login">
    <img class="logo" src="/images/telegram-logo.png"/>
    <div class="vertical_bar"></div>
  </div>
  <div class="right_login">
    <img class="postmark" src="/images/postmark.png">
    <div class="signin_area">
      <div class="login_form">
        <span class="get_going">Create your account</span><br><br>
        {{input class="input" type="text" placeholder="Enter your name ..." value=name}}
        <br>
        {{input class="input" type="text" placeholder="Enter your username ..." value=username}}
        <br>
        {{input class="input" type="password" placeholder="Enter your password ..." value=password}}
        <br><br>
        <button class="simple_action"{{action saveUser}}>Sign up</button>
        <span style="float: right;">
          {{#link-to "auth.login"}}Login{{/link-to}}</span>
      </div>
    </div>
  </div>
</div>
