<div class="auth_background">
	<div class="login_area">
		<div class="left_login">
			<img class="logo" src="/images/telegram-logo.png"/>
			<div class="vertical_bar"></div>
		</div>
		<div class="right_login">
			<img class="postmark" src="/images/postmark.png">
			<div class="signin_area">
				<div class="login_form">
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>
