{{nav-bar session=session}}
{{session.user.name}}
<div class="user_profile">
  <img class="user_img_profile" src="/images/john.jpg"/>
  <button class="follow_action"> Follow </button>
</div>
{{outlet}}
